body{
	background-color: grey;
}
.container{
	height: 100%;
	width: 1200px;
	background: white;
	margin: 0 auto;
	display: flex;
	border: 1px solid black;
}
.Asider{
	background-color: #006B53;
	width: 300px;
	text-align: center;

}
.imger{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: 0 auto;
}
.headers{
	height: 100px;
	width: 900px;
	display: flex;
	align-items: center;
	background-color: #006B53;
	justify-content: space-around;

}
.about, .resume, .portfolio, .blog, .contact{
	font-size: 20px;
	align-items: center;
}
.info{
	height: 40px;
	width: 150px;
	background-color: #ffff00;
	display: flex;
	text-align: center;
	align-items: center;
}
.block{
	height: 100%;
	width: 900px;
	display: grid;
	background-color: #00A480;

}
.left{
	display: block;
	height: 100%;
}
.inv_info{
	height: 40px;
	width: 900px;
}
.about_text{
	margin-left: 1em;
}
.me{
	margin-top: 1.5em;
	margin-left: 3em;
	margin-right: 3em;

	height: 400px;
	background-color: #00A480;
}
.h3_me{
	margin-left: 1em;
	font-size: 22px;
	margin-right: 1em;
}
.p_me{
	margin-left: 1em;
	font-size: 18px;
	margin-right: 1em;
}
.Web_Desing, .animation, .text_desing, .Web_craft{
	width: 200px;
	height: 100%;
}
.content{
	display: block;
	height: 100%;
	width: 900px;
	background-color: #00A480;

}
.Servis{
	height: 50px;
	width: 900px;
	font-size: 28px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	align-items: center;
}
.Web{
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	background-color: #00A480;

}
.color{

}
.white{

}
.footer{
	background-color: #00A480;
}
.hard_con{
	height: 100%;
	width: 300px;

}
.standart{
	height: 50px;
	width: 270px;
	display: flex;
	margin-left: 22px;


}
.one, .two, .three, .four, .five{
	height: 50px;
	width: 50px;
	border-top: 2.5px solid black;
	border-bottom: 2.5px solid black;

}
.one{
	background-color: #7C07A9;
	border-left: 2.5px solid black;
}
.two{
	background-color: #65247F;
}
.three{
	background-color: #50026E;
}
.four{
	background-color: #A93CD4;
}
.five{
	background-color: #B564D4;
	border-right: 2.5px solid black }
a{
	text-decoration: none;
	color: black;
	font-size: 20px;

}
.h3_s{}
.p_s{
	font-size: 18px;
}
.yel{
	margin: 0;
	margin-top: 2px;
}
.yone, .ytwo, .ythree, .yfour, .yfive{
	height: 50px;
	width: 50px;
	border-top: 2.5px solid black;
	border-bottom: 2.5px solid black;

}
.yone{
	background-color: #FFDD00;
	border-left: 2.5px solid black;
}
.ytwo{
	background-color: #BFAC30;
}
.ythree{
	background-color: #A68F00;
}
.yfour{
	background-color: #FFE540;
}
.yfive{
	background-color: #FFEC73;
	border-right: 2.5px solid black 
}
.yellow{
	display: flex;
	margin-left: 22px;
}
.gre{
	margin: 0;
	margin-top: 2px;
}
.gone, .gtwo, .gthree, .gfour, .gfive{
	height: 50px;
	width: 50px;
	border-top: 2.5px solid black;
	border-bottom: 2.5px solid black;

}
.gone{
	background-color: #CFF700;
	border-left: 2.5px solid black;
}
.gtwo{
	background-color: #A3B92E;
}
.gthree{
	background-color: #87A000;
}
.gfour{
	background-color: #DDFB3F;
}
.gfive{
	background-color: #E5FB71;
	border-right: 2.5px solid black 
}
.green{
	display: flex;
	margin-left: 22px;
}
.oone, .otwo, .othree, .ofour, .ofive{
	height: 50px;
	width: 50px;
	border-top: 2.5px solid black;
	border-bottom: 2.5px solid black;

}
.oone{
	background-color: #FF5600;
	border-left: 2.5px solid black;
}
.otwo{
	background-color: #BF6030;
}
.othree{
	background-color: #A63800;
}
.ofour{
	background-color: #FF8040;
}
.ofive{
	background-color: #FFA273;
	border-right: 2.5px solid black 
}
.org{
	margin: 0;
	margin-top: 2px;
}
.orange{
	display: flex;
	margin-left: 22px;
}
.bone, .btwo, .bthree, .bfour, .bfive{
	height: 50px;
	width: 50px;
	border-top: 2.5px solid black;
	border-bottom: 2.5px solid black;

}
.bone{
	background-color: #00A480;
	border-left: 2.5px solid black;
}
.btwo{
	background-color: #1F7B67;
}
.bthree{
	background-color: #006B53;
}
.bfour{
	background-color: #34D2AF;
}
.bfive{
	background-color: #5ED2B8;
	border-right: 2.5px solid black 
}
.blu{
	margin: 0;
	margin-top: 2px;
}
.blue{
	display: flex;
	margin-left: 22px;
}
/*		NEW PAGE 
		RESUBE
*/
.block_resub{
	background-color: #00A480;
	height: 100%;
}
.content_resub{
	background-color: #00A480;
	height: 100%;
	display: flex;
	justify-content: space-around;
	padding-top: 30px;
	padding-bottom: 5vh;
}
.row_resub{
	height: 640px;
	background: #006B53;
	width: 270px;
	display: block;
}
.clear{
	margin: 0px;
	padding: 0px;
}
.resume_h1{
	margin-left: 20px;
	padding-top: 10px;
}
.block_row_resub{

	height: 190px;
}
.name_row{
	margin: 0px;
	padding-top: 10px;
	margin-left: 20px;
}
.resube_h3{
	font-size: 20px;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;

}
.resube_h1_two{
	margin-left: 20px;
	font-size: 30px;
	margin-bottom: 0px;
	margin-top: 10px;
}
.resube_text_row{
	margin-left: 20px;
	font-size: 16px;
	margin-top: 5px;	

}
.black{
	border-bottom: 1px solid black;

}
.lings{
	background: -moz-linear-gradient(top, #333, #999); /* Fx 3.6+ */
    background: -webkit-linear-gradient(top, #333, #999); /* Chrome 10+,Safari 5.1+ */
    background: -o-linear-gradient(top, #333,#999); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333, #999); /* IE10+ */
    background: linear-gradient(to bottom, #333, #999); /* W3C */
    border: 1px solid #333; /* Рамка */
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 250px; /* Высота */
    border-radius: 10px; /* Радиус скругления */
    position: relative; /* Относительное позиционирование */
    overflow: hidden; /* Прячем ненужную тень */
    margin-top: 2px;
}
.lings::before{
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    height: 18px; width: 170px;
    background: #5bc1fe; /* Для старых браузеров */
    background: -moz-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* Fx 3.6+ */
    background: -webkit-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* Chrome 10+,Safari 5.1+ */
    background: -o-linear-gradient(top, #5bc1fe,#018ef2 50%,#57befd); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* IE10+ */
    background: linear-gradient(to bottom, #5bc1fe,#018ef2 50%, #57befd); /* W3C */
    border: 1px solid #008DF2; /* Рамка */
    box-shadow: 3px 0 3px rgba(0,0,0,0.5); /* Тень справа */
   }
.h5{
	margin: 0px;
	font-size: 20px;
	margin-left: 20px;
	padding-top: 10px;
}
.h6{
	margin: 0px;
	font-size: 16px;
	margin-left: 20px;
	padding-top: 15px;
}
.lingss{
	background: -moz-linear-gradient(top, #333, #999); /* Fx 3.6+ */
    background: -webkit-linear-gradient(top, #333, #999); /* Chrome 10+,Safari 5.1+ */
    background: -o-linear-gradient(top, #333,#999); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333, #999); /* IE10+ */
    background: linear-gradient(to bottom, #333, #999); /* W3C */
    border: 1px solid #333; /* Рамка */
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 250px; /* Высота */
    border-radius: 10px; /* Радиус скругления */
    position: relative; /* Относительное позиционирование */
    overflow: hidden; /* Прячем ненужную тень */
    margin-top: 2px;
}
.lingss::before{
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    height: 18px; width: 100px;
    background: #5bc1fe; /* Для старых браузеров */
    background: -moz-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* Fx 3.6+ */
    background: -webkit-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* Chrome 10+,Safari 5.1+ */
    background: -o-linear-gradient(top, #5bc1fe,#018ef2 50%,#57befd); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* IE10+ */
    background: linear-gradient(to bottom, #5bc1fe,#018ef2 50%, #57befd); /* W3C */
    border: 1px solid #008DF2; /* Рамка */
    box-shadow: 3px 0 3px rgba(0,0,0,0.5); /* Тень справа */
   }
.lingsss{
	background: -moz-linear-gradient(top, #333, #999); /* Fx 3.6+ */
    background: -webkit-linear-gradient(top, #333, #999); /* Chrome 10+,Safari 5.1+ */
    background: -o-linear-gradient(top, #333,#999); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333, #999); /* IE10+ */
    background: linear-gradient(to bottom, #333, #999); /* W3C */
    border: 1px solid #333; /* Рамка */
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 250px; /* Высота */
    border-radius: 10px; /* Радиус скругления */
    position: relative; /* Относительное позиционирование */
    overflow: hidden; /* Прячем ненужную тень */
    margin-top: 2px;
}
.lingsss::before{
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    height: 18px; width: 220px;
    background: #5bc1fe; /* Для старых браузеров */
    background: -moz-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* Fx 3.6+ */
    background: -webkit-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* Chrome 10+,Safari 5.1+ */
    background: -o-linear-gradient(top, #5bc1fe,#018ef2 50%,#57befd); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* IE10+ */
    background: linear-gradient(to bottom, #5bc1fe,#018ef2 50%, #57befd); /* W3C */
    border: 1px solid #008DF2; /* Рамка */
    box-shadow: 3px 0 3px rgba(0,0,0,0.5); /* Тень справа */
   }
.lingssss{
	background: -moz-linear-gradient(top, #333, #999); /* Fx 3.6+ */
    background: -webkit-linear-gradient(top, #333, #999); /* Chrome 10+,Safari 5.1+ */
    background: -o-linear-gradient(top, #333,#999); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333, #999); /* IE10+ */
    background: linear-gradient(to bottom, #333, #999); /* W3C */
    border: 1px solid #333; /* Рамка */
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 250px; /* Высота */
    border-radius: 10px; /* Радиус скругления */
    position: relative; /* Относительное позиционирование */
    overflow: hidden; /* Прячем ненужную тень */
    margin-top: 2px;
}
.lingssss::before{
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    height: 18px; width: 190px;
    background: #5bc1fe; /* Для старых браузеров */
    background: -moz-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* Fx 3.6+ */
    background: -webkit-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* Chrome 10+,Safari 5.1+ */
    background: -o-linear-gradient(top, #5bc1fe,#018ef2 50%,#57befd); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* IE10+ */
    background: linear-gradient(to bottom, #5bc1fe,#018ef2 50%, #57befd); /* W3C */
    border: 1px solid #008DF2; /* Рамка */
    box-shadow: 3px 0 3px rgba(0,0,0,0.5); /* Тень справа */
   }
.lingsssss{
	background: -moz-linear-gradient(top, #333, #999); /* Fx 3.6+ */
    background: -webkit-linear-gradient(top, #333, #999); /* Chrome 10+,Safari 5.1+ */
    background: -o-linear-gradient(top, #333,#999); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333, #999); /* IE10+ */
    background: linear-gradient(to bottom, #333, #999); /* W3C */
    border: 1px solid #333; /* Рамка */
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 250px; /* Высота */
    border-radius: 10px; /* Радиус скругления */
    position: relative; /* Относительное позиционирование */
    overflow: hidden; /* Прячем ненужную тень */
    margin-top: 2px;
}
.lingsssss::before{
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    height: 18px; width: 20px;
    background: #5bc1fe; /* Для старых браузеров */
    background: -moz-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* Fx 3.6+ */
    background: -webkit-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* Chrome 10+,Safari 5.1+ */
    background: -o-linear-gradient(top, #5bc1fe,#018ef2 50%,#57befd); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5bc1fe, #018ef2 50%, #57befd); /* IE10+ */
    background: linear-gradient(to bottom, #5bc1fe,#018ef2 50%, #57befd); /* W3C */
    border: 1px solid #008DF2; /* Рамка */
    box-shadow: 3px 0 3px rgba(0,0,0,0.5); /* Тень справа */
   }
/* NEW PAGEEEEE */
.ll{
	margin-left: 20px;
	font-size: 18px;
	margin-top: 0px;
}
.contact_container{
	background-color: #006B53;
	height: 413px;
}
.dop{
	font-size: 26px;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 2vh;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #006B53;
}

/* Add a background color and some padding around the form */
.dops {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.container_por{
	background-color: #00A480;
	height: 900px;

}
.img{
	float:left;
	-webkit-transition-duration: 0.5s;
	}
.img img{
	padding:10px;
	border:1px solid #fff;
}
.img:hover{
	-webkit-transform:scale(0.8);
	-webkit-box-shadow:0px 0px 30px #ccc;
}	
.img .mask{
	width: 572px;
	background-color: rgb(0, 0, 0);
	position: absolute;
	height: 372px; 
	opacity:0.6;
	cursor:pointer;
	-webkit-transition-duration: 0.5s;
}
#img-1:hover .mask{
	height:0%;	
}
#img-2:hover .mask{
	height:0%;	
	margin-top:130px;
}
#img-3 #mask-1 {
	width:50%;
}
#img-3 #mask-2{
	width:50%;
	margin-left:211px;
}
#img-3:hover #mask-1{
	width:0%;
}
#img-3:hover #mask-2{
	margin-left:430px;
	width:0%;
}
.pro_1{
	height: 400px;
	width: 700px;
	padding-top: 50px;
	margin-left: 150px;
}
.pro_2{
	height: 400px;
	width: 700px;
	margin-left: 150px;
}
.img_p{
	width: 550px;
	height: 350px;
}
.sssss{
	padding: 0px;
	margin: 0px;
	font-size: 20px;
}
.wodyx{
	width: 300px;
	height: 
}
.con_tact{
	background-color: #00A480;
}
form .row {
display: block;
padding: 7px 8px;
margin-bottom: 7px;
}
form .row:hover {
background: #006B53;
}

form label {
display: inline-block;
font-size: 1.2em;
font-weight: bold;
width: 170px;
padding: 6px 0;
color: #464646;
vertical-align: top;
}
form .req { color: red; }

form .note {
font-size: 1.2em;
line-height: 1.33em;
font-weight: normal;
padding: 2px 7px;
margin-bottom: 10px;
}

form input:focus, form textarea:focus { outline: none; }

/* placeholder styles: http://stackoverflow.com/a/2610741/477958 */
::-webkit-input-placeholder { color: black; font-style: italic; } /* WebKit */
:-moz-placeholder { color: black; font-style: italic; } /* Mozilla Firefox 4 to 18 */
::-moz-placeholder { color: black; font-style: italic; } /* Mozilla Firefox 19+ */
:-ms-input-placeholder { color: black; font-style: italic; } /* Internet Explorer 10+ */

form .txt {
display: inline-block;
padding: 8px 9px;
padding-right: 30px;
width: 240px;
font-family: 'Oxygen', sans-serif;
font-size: 1.35em;
font-weight: normal;
color: grey;
}
.vh{
	margin-left: 1vh;
}
.text_con{
	font-size: 30px;
}
.text_con_text{
	font-size: 18px;
}
.center{
	padding-bottom: 1vh;
}
.whites{
	color: orange;
}
.info{
	height: 200px;
	width: 200px;
}